a {
	color: #3A4273;
	text-decoration: none
}

a:hover {
	color: #3A4273;
	text-decoration: underline
}

body, table, td {
	color: #3A4273;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	line-height: 20px;
	scrollbar-base-color: #E3E3EA;
	scrollbar-arrow-color: #5C5C8D
}

input {
	color: #085878;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	background-color: #3A4273;
	color: #FFFFFF;
	scrollbar-base-color: #E3E3EA;
	scrollbar-arrow-color: #5C5C8D
}

.install {
	font-family: Arial, Verdana;
	font-size: 20px;
	font-weight: bold;
	color: #000000
}

.message {
	background: #E3E3EA;
	padding: 20px;
}

.altbg1 {
	background: #E3E3EA;
}

.altbg2 {
	background: #EEEEF6;
}

.header td {
	color: #FFFFFF;
	background-color: #3A4273;	
	text-align: center;
}

.option td {
	text-align: center;
}

.redfont {
	color: #FF0000;
}
