<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.jsprun.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>cn.jsprun.filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>RefuseAccess</filter-name>
    <filter-class>cn.jsprun.filter.RefuseAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>/forumdata/logs/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>/templates/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>/include/crons/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>/include/magics/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>/archiver/include/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RefuseAccess</filter-name>
    <url-pattern>*.properties</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>RefuseAccess_wap</filter-name>
    <filter-class>cn.jsprun.filter.AccessDenied_wml</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RefuseAccess_wap</filter-name>
    <url-pattern>/wap/include/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AdmincpFilter</filter-name>
    <filter-class>cn.jsprun.filter.AdmincpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/basicsettings.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/forumsedit.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/user.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/extendsAction.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/other.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/sysutil.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/sysfile.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/home.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/posts.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/threads.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/prune.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/tagManage.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/attachments.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/recyclebin.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/smilies.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/pmprune.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/safety.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/project.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/database.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdmincpFilter</filter-name>
    <url-pattern>/systemtool.do</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>OnlineFilter</filter-name>
    <filter-class>cn.jsprun.filter.OnlineFilter</filter-class>
  </filter>
    <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>FileCaptureFilter</filter-name>
    <filter-class>cn.jsprun.filter.FileCaptureFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileCaptureFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FileCaptureFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>ArchiverFilter</filter-name>
    <filter-class>cn.jsprun.filter.ArchiverFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ArchiverFilter</filter-name>
    <url-pattern>/archiver/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seccodebuild</servlet-name>
    <servlet-class>cn.jsprun.utils.SeccodeBuild</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seccodebuild</servlet-name>
    <url-pattern>/servlet/seccode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jchart</servlet-name>
    <servlet-class>cn.jsprun.utils.Jfreechart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jchart</servlet-name>
    <url-pattern>/servlet/jree</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/error_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/error_500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>