.keyboard {
    /*软键盘层*/
    position: absolute;
    width: 405px;
    background: #ffffff;
    border: 1px solid #a6d6f1;
    text-align: center;
	color:#000;
	font-size:13px;
	font: 12px / 1.6em Helvetica, Arial, sans-serif;
}
.keyboard input{
	font-size:"15px";
}

.clear {
    clear: both;
}

.keyboard .boxTitleDiv {
    /*
     标题层
     */
    background: #e9f2fb;
    padding: 0;
    cursor: move
}

.keyboard .boxTitleSpan {
    /*
     标题文字
     */
    text-align: center;
    padding-top: 3px;
    width: 365px;
    float: left;
}
.keyboard .boxTitleBtn {
    /*
     标题按钮
     */
    border: 1px solid #a6d6f1;
    background: #a6d6f1;
    width: 30px;
	height:20px;
	float:left;
}
.keyboard table {
	width:400px;
    /*
     按键表格
     */
}

.keyboard .keyBtn {
    /*
     按键
     */
    padding: 0;
    border: 1px solid #075BC3;
    width: 20px;
    height: 22px;
    background: #FFF;
    cursor: pointer;
}


.keyboard .keyBtnHover {
    padding: 0;
    border: 1px solid #075BC3;
    width: 20px;
    height: 22px;
    background: red;
    cursor: pointer;
}



.funKeys_backSpace {
    /*
     退格键
     */
    border: 1px solid #075BC3;
    width: 85px;
    height: 22px;
    background: #d8e7f9
}

.funKeys_capsLock {
    /*
     切换大小写键
     */
    border: 1px solid #075BC3;
    width: 85px;
    height: 22px;
    background: #d8e7f9
}

.funKeys_clear {
    /*
     清除键
     */
    border: 1px solid #075BC3;
    width: 60px;
    height: 22px;
    background: #d8e7f9
}

.funKeys_enter {
    /*
     确定键
     */
    border: 1px solid #075BC3;
    width: 60px;
    height: 45px;
    background: #d8e7f9
}

.keybord_button {
	/*
	显示软件盘的按扭
	*/
	background:url(../../images/common/softkeyboard.gif);
	width:22px;
	height:18px;
	vertical-align:sub;
	*vertical-align:1px;
	border:none;
}

